*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    border: 1px solid rgba(4,9,30,0.7);
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('uni.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
nav{
    height: 20px;
    border: 1px solid brown;
    background-color: brown;
    position: sticky;
    top: 0px;
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
  width: 150px;  
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
} 
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}   
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    padding: 20px;
    columns: #777;
    font-size: 16px;
    line-height: 22px;
}
.course-main{
    margin-top: 5%;
    justify-content: space-between;
    display: flex;
}
.course-list{
    flex-basis: 31%;
    margin-bottom: 5%;
    border: 2px solid #fff3f3;
    background-color: rgb(250, 226, 223);
    padding: 20px 12px;
    border-radius: 20px;
    box-sizing: border-box;
}
h3{
   
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.para1{
    color: #777;
   word-spacing: 3px;
}
.course-list:hover{
    box-shadow: 0px 0px  20px 0px gray;
}
.facility{
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    padding: 100px;
}
.facility1{
flex-basis: 31%;
border-radius: 10px;
margin-bottom: 5%;
text-align:left;
}
.facility1 img{
    width: 100%;
    border-radius: 20px;
}
.facility1 p{
    padding: 0;
}
.facility1 h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.about{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.about h4{
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
color: #f44336;
margin: 0 13px;
cursor: pointer;
padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}